@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
}
header {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #653780;
  color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
li {
  margin-left: 20px;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: red;
}
a:active {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-left: 20px;
  }
}
